<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodservice"
        tools:targetApi="31">
        <activity
            android:name=".VerUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".VerBebidaActivity"
            android:exported="false">

            <!-- PARA REGRESAR A LA PAGINA PRINCIPAL -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BebidasActivity" />
        </activity>
        <activity
            android:name=".NewBebidaActivity"
            android:exported="false">

            <!-- PARA REGRESAR A LA PAGINA PRINCIPAL -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BebidasActivity" />
        </activity>
        <activity
            android:name=".VerPlatilloActivity"
            android:exported="false">

            <!-- PARA REGRESAR A LA PAGINA PRINCIPAL -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlatillosActivity" />
        </activity>
        <activity
            android:name=".PlatillosActivity"
            android:exported="false" />
        <activity
            android:name=".EmpleadosActivity"
            android:exported="false" />
        <activity
            android:name=".BebidasActivity"
            android:exported="false" />
        <activity
            android:name=".NewPlatilloActivity"
            android:exported="false">

            <!-- PARA REGRESAR A LA PAGINA PRINCIPAL -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlatillosActivity" />
        </activity>
        <activity
            android:name=".AyudaActivity"
            android:exported="false">

            <!-- PARA REGRESAR A LA PAGINA PRINCIPAL -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelAdmin" />
        </activity>
        <activity
            android:name=".PanelAdmin"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>